body{

    /*
    background: rgba(237,145,106,1);
    background: -moz-linear-gradient(-45deg, rgba(237,145,106,1) 0%, rgba(176,77,37,1) 48%, rgba(101,34,6,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(237,145,106,1)), color-stop(48%, rgba(176,77,37,1)), color-stop(100%, rgba(101,34,6,1)));
    background: -webkit-linear-gradient(-45deg, rgba(237,145,106,1) 0%, rgba(176,77,37,1) 48%, rgba(101,34,6,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(237,145,106,1) 0%, rgba(176,77,37,1) 48%, rgba(101,34,6,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(237,145,106,1) 0%, rgba(176,77,37,1) 48%, rgba(101,34,6,1) 100%);
    background: linear-gradient(135deg, rgba(237,145,106,1) 0%, rgba(176,77,37,1) 48%, rgba(101,34,6,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed916a', endColorstr='#652206', GradientType=1 );
    */

    background-image: url("../graphics/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}